@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body, html {
  margin:0px;
  height:100%;
  background-image: url(background_texture.png);
  background-repeat: repeat;
  font-family: 'PT Sans', sans-serif;
}

#main {
  background-color: #f2f2f2;
  min-height:100%;
  width:620px;
  margin:auto;
}

svg {
  background-color: #ffffff;
  width: 600;
  margin-left: 8px;
  margin-top: 5px;
  border: 2px solid #DC143C;
  border-radius: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 9px;
}

#form {
  width: 500px;
  margin: auto;
}

form {
  margin: 0px;
}

form div {
  margin-bottom: 9px;
}

#form p {
  font-size: 25px;
}

#cluster {
  margin-right: 242px;
}

#k {
  margin-right: 324px;
}

#noise {
  margin-right: 10px;
}

#id_noiseFunctions {
  width: 385px;
}

#gen {
  margin-right: 349px;
}

#button {
  margin-bottom: 0px;
  padding-bottom: 5px;
  text-align: right;
}

