<head>
  <title>STSC Result</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'runnerOPTICS.css' %}" />
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>
<body>
  <div id="main">
    <div id="plot">
      <script>
        var height = 600;
        var width = 600;
        var reachabilities = {{ reachabilities }};

        // Plot reachabilities
        var reachPadding = 30;
        var yReach = d3.scale.linear()
                .domain([0, d3.max(reachabilities, function(d) { return d; })])
                .range([height-reachPadding, reachPadding]);

        var barWidth = (width - reachPadding * 2) / reachabilities.length;

        var reach = d3.select("#plot")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);

        reach.selectAll("bar")
           .data(reachabilities)
           .enter()
           .append("rect")
           .style("fill", "steelblue")
           .attr("y", function(d) { return yReach(d); })
           .attr("height", function(d) { return height - reachPadding - yReach(d); })
           .attr("width", barWidth-1)
           .attr("transform", function(d, i) { return "translate(" + (i * barWidth + reachPadding) + ",0)"; });

        // Create Y axis
        reach.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(" + (reachPadding-1) + ",0)")
           .call(d3.svg.axis()
                   .scale(yReach)
                   .orient("left"));



        // Plot clusters
        var clusterResults = {{ clusters }};

        // Generate random colors
        var numClusters = {{ numClusters }};
        var colors = []
        for (i=0; i<numClusters; i++) {
          colors.push('#' + (Math.random().toString(16) + "000000").substring(2,8))
        }

        // Scale the data in input
		var scalePadding = 30;
        var xScaleClust = d3.scale.linear()
                            .domain([d3.min(clusterResults, function(d) { return d[0]; }), d3.max(clusterResults, function(d) { return d[0]; })])
							.range([scalePadding, width-scalePadding]);

        var yScaleClust = d3.scale.linear()
                            .domain([d3.min(clusterResults, function(d) { return d[1]; }), d3.max(clusterResults, function(d) { return d[1]; })])
							.range([height-scalePadding, scalePadding]);


        var clust = d3.select("#plot")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height);

        clust.selectAll("circle")
          .data(clusterResults)
          .enter()
          .append("circle")
          .attr("cx", function(d) { return xScaleClust(d[0]); })
          .attr("cy", function(d) { return yScaleClust(d[1]); })
          .attr("r", 2)
          .attr("fill", function(d) { return colors[d[2]]; });


		// Create X axis
        clust.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(0," + (height - scalePadding) + ")")
           .call(d3.svg.axis()
                   .scale(xScaleClust)
                   .orient("bottom"));

		// Create Y axis
        clust.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(" + (xScaleClust(0) > scalePadding ? xScaleClust(0) : scalePadding) + ",0)")
           .call(d3.svg.axis()
                   .scale(yScaleClust)
                   .orient("left"));

        </script>
    </div>
    <div id="form">
        <p> Parameters: </p>
   </div>
  </div>
</body>
