<head>
  <title>STSC Result</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'runnerSTSC.css' %}" />
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  </head>
<body>
  <div id="main">
    <div id="plot">
      <script>
        var height = 600;
        var width = 600;
        var result = {{ result }};

        // Generate random colors
        var numClusters = {{ numClusters }};
        var colors = []
        for (i=0; i<numClusters; i++) {
          colors.push('#' + (Math.random().toString(16) + "000000").substring(2,8))
        }

        // Scale the data in input
		var scalePadding = 30;
        var xScale = d3.scale.linear()
                            .domain([d3.min(result, function(d) { return d[0]; }), d3.max(result, function(d) { return d[0]; })])
							.range([scalePadding, width-scalePadding]);

        var yScale = d3.scale.linear()
                            .domain([d3.min(result, function(d) { return d[1]; }), d3.max(result, function(d) { return d[1]; })])
							.range([height-scalePadding, scalePadding]);

        var svg = d3.select("#plot")
                            .append("svg")
                            .attr("width", width)
                            .attr("height", height);

        svg.selectAll("circle")
          .data(result)
          .enter()
          .append("circle")
          .attr("cx", function(d) { return xScale(d[0]); })
          .attr("cy", function(d) { return yScale(d[1]); })
          .attr("r", 2)
          .attr("fill", function(d) { return colors[d[2]]; });


		// Create X axis
        svg.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(0," + (height - scalePadding) + ")")
           .call(d3.svg.axis()
                   .scale(xScale)
                   .orient("bottom"));

		// Create Y axis
        svg.append("g")
           .attr("class", "axis")
           .attr("transform", "translate(" + (xScale(0) > scalePadding ? xScale(0) : scalePadding) + ",0)")
           .call(d3.svg.axis()
                   .scale(yScale)
                   .orient("left"));

        </script>
    </div>
    <div id="form">
        <p> # Clusters: {{ numClusters }} </p>
        <p> Parameters: </p>
        <form action="/resultSTSC" method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {{ form.numClusters.errors }}
          <div><label id="cluster">Max # Clusters:  </label>{{ form.numClusters }}</div>
          {{ form.k.errors }}
          <div><label id="k">K:  </label>{{ form.k }}</div>
          {{ form.simCut.errors }}
          <div><label id="simCut">Similarity Cut:  </label>{{ form.simCut }}</div>
          {{ form.noiseFunctions.errors }}
          <div><label id="noise">Noise Functions:  </label>{{ form.noiseFunctions }}</div>
          {{ form.generateNoise.errors }}
          <div><label id="gen">Generate new noise:  </label>{{ form.generateNoise }}</div>
          <div id="button">
            <input type="submit" value="Recompute" />
          </div>
       </form>
       <div id="points">
           {{ points|linebreaks }}
       </div>
    </div>
  </div>
</body>
